@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,500&family=Updock&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --grey: #ccc;
  --grey-dark: #555;
  --grey-2: #d9d9d9;
  --black: #000;
  --gold: #b49804;
  --max-width: 1100px;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: var(--white);
  font-family: "Open sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--black);
}
p {
  color: var(--black);
}

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2rem;
}
p {
  font-size: 1rem;
}
button,
input {
  outline: none;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
img {
  object-fit: cover;
  display: block;
}
.btn {
  background-color: var(--black);
  border-radius: 30px;
  color: var(--white);
  padding: 7px 10px;
  width: 30%;
  text-transform: capitalize;
}
.btn a {
  font-size: 0.8rem;
  color: var(--white);
}
.section {
  padding: 0 30px;
}
.container {
  max-width: var(--max-width);
  margin: 0 auto;
}

